<!DOCTYPE html>
<html ng-app="tutorialModule">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

  </head>
  <body class="text-center" class="list-group" ng-controller="tutorialController as tutorialLinks">
    <header>
      <h1 class="text-center">Learn Angular Javascript!</h1>
      <h2 class="text-center">Links to learn AngularJS!</h2>
    </header>
    <div class="list-group-item" ng-repeat="tutorial in tutorialLinks.angularTutorials">
      <h3>
        {{tutorial.title}}

      </h3>
      <br>

      
      <div class='gallery' ng-show="tutorial.image.length">
        <img ng-src="{{tutorial.image}}" />
        <ul class="list-inline thumbs">
        </ul>
      </div>
<br><br>
      <section class="tab" ng-controller="tabController as tab">
       
        <div ng-show="tab.isSet(1)">
          <h4>Here is a link to this tutorial!</h4>
          <blockquote>{{tutorial.url}}</blockquote>
        </div>
        <div ng-show="tab.isSet(2)">
          <h4>This is the Author of this tutorial!</h4>
          <blockquote>Author: {{tutorial.author}}</blockquote>
        </div>
        <div ng-show="tab.isSet(3)">
          <h4>Description</h4>
          <blockquote>{{tutorial.description}} {{tutorial.author}} !</blockquote>
        </div>
         <ul class="nav nav-pills">
          <li ng-class="{ active: tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">URL</a></li>
          <li ng-class="{ active: tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Author</a></li>
          <li ng-class="{ active: tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Description</a></li>
        </ul>
      </section>
    </div>
  </body>
</html>
